/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: HOSTILE_BOWTIE2{
        ext.args = '--force '
        ext.prefix = {"${meta.id}.clean_dehost"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/illumina_reads/qc/dehost" },
            mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]
    }
    withName: SEQKIT_STATS_HOSTIE {
        ext.prefix = { "${meta.id}.dehost_seqstats" }
        ext.args = '-Ta '
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/illumina_reads/qc/stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CSVTK_CONCAT_STATS_HOSTIE{
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },  
        ]
    }
    withName: BCFTOOLS_NORM_LOWFREQ{
        ext.args = '--output-type z'
        ext.prefix = {"${meta.id}_lowfreq_norm"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/vcf" },
            mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]

    }
    withName: BCFTOOLS_NORM_HIGHFREQ{
        ext.args = '--output-type z'
        ext.prefix = {"${meta.id}_highfreq_norm"}

        publishDir = [
            path: { "${params.outdir}/${meta.id}/vcf" },
            mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]
        

    }
    withName: BCFTOOLS_CONSENSUS_AMBIGUOUS{
        ext.prefix = {"${meta.id}_ambiguous"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/consensus" },
            mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]

    }
     withName: BCFTOOLS_CONSENSUS_FIXED{
        ext.prefix = {"${meta.id}_fixed"}

        publishDir = [
            path: { "${params.outdir}/${meta.id}/consensus" },
            mode: params.publish_dir_mode,
            enabled: false,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

    }

    withName: SPLITVCF_AMBIGUOUS {
        ext.args = " -v vartag=ConsensusTag=ambiguous "
        ext.prefix = {"${meta.id}_highfreq_ambiguous"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/consensus" },
            mode: params.publish_dir_mode,

           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]
      
    }
    withName: SPLITVCF_FIXED{
        ext.args = " -v vartag=ConsensusTag=fixed "
        ext.prefix = {"${meta.id}_highfreq_fixed"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/consensus" },
            mode: params.publish_dir_mode,

           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]

    }
    withName: TABIX_BGZIPTABIX_FIXED {
        ext.args = " -f "
        ext.args2 = " -f -p vcf "
        ext.prefix = {"${meta.id}_fixed_gztbi"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/consensus" },
            mode: params.publish_dir_mode,

           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]

    }
     withName: TABIX_BGZIPTABIX_AMBIGUOUS {
        ext.args = " -f "
        ext.args2 = " -f -p vcf "
        ext.prefix = {"${meta.id}_ambiguous_gztbi"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/consensus" },
            mode: params.publish_dir_mode,

           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]

    }

    
   
    withName: PROCESSGVCF {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/consensus/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: false
        ]
        ext.args = " -d ${params.mindepth} -l 0.25 -u 0.75 "
       
    }
    
}

 if (illumina_variant_caller == 'bcftools') {
    process {
        withName: 'BCFTOOLS_MPILEUP' {
            ext.args = '--ignore-overlaps --count-orphans --no-BAQ --max-depth 0 --min-BQ 20 --annotate FORMAT/AD,FORMAT/ADF,FORMAT/ADR,FORMAT/DP,FORMAT/SP,INFO/AD,INFO/ADF,INFO/ADR'
            ext.args2 = '--ploidy 1 --keep-alts --keep-masked-ref --multiallelic-caller --variants-only'
            ext.args3 = "--include 'INFO/DP>=10'"
            ext.prefix = { "${meta.id}.orig" }
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/bcftools" },
                mode: params.publish_dir_mode,
                pattern: '*.mpileup',
                enabled: params.save_mpileup
            ]
        }
    }
}
if (illumina_variant_caller == 'freebayes') {
    process {
        withName: FREEBAYES {
            ext.args = [
                "--ploidy 1", \
                "--min-alternate-fraction 0.2",\
                "--min-alternate-count 1",\
                "--pooled-continuous",
                "--min-coverage ${params.mindepth}",\
                "--gvcf",\
                "--gvcf-dont-use-chunk true"\
            ].join(' ').trim()

            publishDir = [
                path: { "${params.outdir}/${meta.id}/consensus" },
                mode: params.publish_dir_mode,

                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: true
            ]
        }
    }
}



if(!params.skip_illumina_reads_qc){

    process{

        withName: FASTQC_INPUT {
            ext.args = '--quiet'
            
            publishDir = [
                path: { "${params.outdir}/${meta.id}/reads/illumina_reads/raw/fastqc" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                pattern: "*"
            ]
        }
        withName: SEQKIT_STATS_INPUT {
            ext.prefix = { "${meta.id}.seqstats" }
            ext.args = '-Ta '
            publishDir = [
                path: { "${params.outdir}/${meta.id}/reads/illumina_reads/raw/stats" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
        withName: CSVTK_CONCAT_STATS_INPUT {
            publishDir = [
                path: { "${params.outdir}/report" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },    
            ]
        } 
        withName: CSVTK_CONCAT_STATS_QC {
            publishDir = [
                path: { "${params.outdir}/report" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                
            ]
        }
    }
}
    
   


if(params.illumina_reads_qc_tool == 'fastp'){

    process {
        withName: FASTP {
            ext.args = [
                "--cut_front",
                "--cut_front_window_size=1",
                "--cut_front_mean_quality=10",
                "--cut_tail",
                "--cut_tail_window_size=1",
                "--cut_tail_mean_quality=10",
                "--n_base_limit 0",
                "--qualified_quality_phred 20",
                "--average_qual 20",
                "--length_required 50",
                "--detect_adapter_for_pe",
                "--adapter_fasta ${params.flu_primers}"
            ].join(' ').trim()
            
            publishDir = [
                path: { "${params.outdir}/${meta.id}/reads/illumina_reads/qc/fastp" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
        withName: FASTQC_QC {
            ext.args = '--quiet'
            ext.prefix = { "${meta.id}.fastp_trim" }
            publishDir = [
                path: { "${params.outdir}/${meta.id}/reads/illumina_reads/qc/fastqc" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
        withName: SEQKIT_STATS_TRIMMED {
            ext.prefix = { "${meta.id}.fastp_seqstats" }
            ext.args = '-Ta '
            publishDir = [
                path: { "${params.outdir}/${meta.id}/reads/illumina_reads/qc/stats" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}
    
   


if(params.illumina_reads_qc_tool == 'bbduk'){
    process {
        withName: BBMAP_BBDUK {
            ext.args = [
                "ref=adapters,artifacts,phix",
                "ktrim=r",
                "k=23",
                "mink=11",
                "hdist=1",
                "tpe",
                "tbo",
                "maq=15",
                "trimq=10",
                "qtrim=r",
                "minlength=31",
                "ref=${params.flu_primers}"
            ].join(' ').trim()
            
            ext.prefix = { "${meta.id}.bbduk_trim" }
            publishDir = [
                path: { "${params.outdir}/${meta.id}/reads/illumina_reads/qc/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
            
        }
        withName: FASTQC_QC {
            ext.args = '--quiet'
            ext.prefix = { "${meta.id}.bbduk_trim" }
            publishDir = [
                path: { "${params.outdir}/${meta.id}/reads/illumina_reads/qc/fastqc" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }


        withName: SEQKIT_STATS_TRIMMED{
            ext.prefix = { "${meta.id}.bbduk_seqstats" }
            ext.args = '-Ta '
            publishDir = [
                path: { "${params.outdir}/${meta.id}/reads/illumina_reads/qc/stats" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}

if(params.illumina_reads_mapping_tool == 'bwa'){
    process {
        withName: BWAMEM2_INDEX {
            publishDir = [
                path: { "${params.outdir}/${meta.id}/mapping/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: false
            ]
        }
        withName: BWAMEM2_MEM {
            publishDir = [
                path: { "${params.outdir}/${meta.id}/mapping/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: false
            ]
            ext.args2 = " -h -F260 "
        }
    }
}

 if (consensus_caller == 'bcftools') {
        process {
            withName: 'BCFTOOLS_FILTER' {
                ext.args   = [
                    '--output-type z',
                    variant_caller == 'ivar'     ? "--include 'FORMAT/ALT_FREQ >= 0.75'"           : '',
                    variant_caller == 'bcftools' ? "--include 'FORMAT/AD[:1] / FORMAT/DP >= 0.75'" : '',
                ].join(' ').trim()
                ext.prefix = { "${meta.id}.filtered" }
                publishDir = [
                    path: { "${params.outdir}/variants/${variant_caller}/consensus/bcftools" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }

            withName: '.*:.*:CONSENSUS_BCFTOOLS:TABIX_TABIX' {
                ext.args = '-p vcf -f'
                publishDir = [
                    path: { "${params.outdir}/variants/${variant_caller}/consensus/bcftools" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }

            withName: 'MAKE_BED_MASK' {
                ext.args = "-a --ignore-overlaps --count-orphans --no-BAQ --max-depth 0 --min-BQ 0"
                ext.args2 = 10
                ext.prefix = { "${meta.id}.coverage.masked" }
                publishDir = [
                    path: { "${params.outdir}/variants/${variant_caller}/consensus/bcftools" },
                    mode: params.publish_dir_mode,
                    pattern: "*.mpileup",
                    enabled: params.save_mpileup
                ]
            }

            withName: 'BEDTOOLS_MERGE' {
                ext.prefix = { "${meta.id}.coverage.merged" }
                publishDir = [
                    path: { "${params.outdir}/variants/${variant_caller}/consensus/bcftools" },
                    enabled: false
                ]
            }

            withName: 'BEDTOOLS_MASKFASTA' {
                ext.prefix = { "${meta.id}.masked" }
                publishDir = [
                    path: { "${params.outdir}/variants/${variant_caller}/consensus/bcftools" },
                    enabled: false
                ]
            }

            withName: 'BCFTOOLS_CONSENSUS' {
                ext.prefix = { "${meta.id}" }
                publishDir = [
                    path: { "${params.outdir}/variants/${variant_caller}/consensus/bcftools" },
                    enabled: false
                ]
            }

            withName: 'RENAME_FASTA_HEADER' {
                ext.prefix = { "${meta.id}.consensus" }
                publishDir = [
                    path: { "${params.outdir}/variants/${variant_caller}/consensus/bcftools" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
    }