/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: SEQKIT_STATS_SHORT_RAW {
        ext.args = '--all -T'
        ext.prefix = { "${meta.id}_raw_seqstats" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/shortreads/stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: SEQKIT_STATS_SHORT_QC {
        ext.args = '--all -T'
        ext.prefix = { "${meta.id}_qc_seqstats" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/shortreads/stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
     withName: CONCAT_STATS_SHORT_RAW{
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            
        ]
    }
    withName: CONCAT_STATS_SHORT_QC{
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            
        ]
    }
    withName: CONCAT_STATS_SUMMARY{
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            
        ]
    }
    withName: SEQKIT_FX2TAB_CONSENSUS {
        ext.args = '--only-id --name --length -C ATCG -C RYSWKMBDHV -C N -H'
        ext.suffix = 'txt'
        ext.prefix = { "${meta.id}.consensus_stats" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/consensus" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/shortreads/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: FASTP {
        ext.args = [
            "--cut_front",
            "--cut_front_window_size=1",
            "--cut_front_mean_quality=10",
            "--cut_tail",
            "--cut_tail_window_size=1",
            "--cut_tail_mean_quality=10",
            "--n_base_limit 0",
            "--qualified_quality_phred 20",
            "--average_qual 20",
            "--length_required 50",
            "--detect_adapter_for_pe"
            ].join(' ').trim()
        publishDir = [
            //path: { "${params.outdir}/${meta.id}/shortreads/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            path: { "${params.outdir}/${meta.id}/shortreads/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
     
    withName: MASH_SCREEN {

        publishDir = [
            path: { "${params.outdir}/${meta.id}/mapping" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            //enabled: false
        ]
        ext.args = "-i ${params.min_identity} -w -v ${params.max_p_value}"
    }
    
    withName: SEQKIT_GREP {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/mapping" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            //enabled: false
        ]
    }
    withName: FILTERMASH {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/mapping" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            //enabled: false
        ]
    }


    
    withName: BWAMEM2_INDEX {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/mapping/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: false
        ]
    }
    withName: BWAMEM2_MEM {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/mapping/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: false
        ]
        ext.args2 = " -h -F260 "
    }
    withName: SAMTOOLS_SORT {
        publishDir = [
            //path: { "${params.outdir}/${meta.id}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            path: { "${params.outdir}/${meta.id}/mapping" },
            mode: params.publish_dir_mode,

           saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { "${meta.id}.sorted" }
    }
    withName: SAMTOOLS_INDEX {
        publishDir = [
            //path: { "${params.outdir}/${meta.id}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            path: { "${params.outdir}/${meta.id}/mapping" },
            mode: params.publish_dir_mode,

           saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: SAMTOOLS_FAIDX {
        publishDir = [
            //path: { "${params.outdir}/${meta.id}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            path: { "${params.outdir}/${meta.id}/mapping" },
            mode: params.publish_dir_mode,

           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]
    }
    withName: SAMTOOLS_DEPTH {
        ext.prefix = { "${meta.id}.depth" }
        ext.args = " -a "
        publishDir = [
            //path: { "${params.outdir}/${meta.id}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            path: { "${params.outdir}/${meta.id}/mapping" },
            mode: params.publish_dir_mode,

           saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: SAMTOOLS_COVERAGE {
        ext.prefix = { "${meta.id}.coverage" }
        ext.args = " -d 0 "
        publishDir = [
            path: { "${params.outdir}/${meta.id}/mapping" },
            mode: params.publish_dir_mode,

           saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: MAPPING_REPORT {
        ext.prefix = { "${meta.id}.coverage" }
        ext.args = " -d 0 "
        publishDir = [
            path: { "${params.outdir}/${meta.id}/mapping" },
            mode: params.publish_dir_mode,

           saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    withName: FREEBAYES {
        ext.args = [
            "--ploidy 1", \
            "--min-alternate-fraction 0.2",\
            "--min-alternate-count 1",\
            "--pooled-continuous",
            "--min-coverage ${params.min_coverage}",\
            "--gvcf",\
            "--gvcf-dont-use-chunk true"\
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${meta.id}/consensus" },
            mode: params.publish_dir_mode,

            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
        ]
       
    }
    withName: PROCESSGVCF {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/consensus/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: false
        ]
        //ext.args = " -d 10 -l 0.25 -u 0.75 "
        ext.args = " -d 3 -l 0.25 -u 0.75 "
       
    }

    withName: BIOAWK {
        ext.prefix = {"${meta.id}.consensus.fasta"}
        ext.args   = { [
                    "-c fastx",
                    "-v vartag=${meta.id}",
                    "-v q='|'",

                    //"\'{split(\$comment,col,\"|\"); print \">\"vartag\"_segment_\"col[2] \" ref_accession=\"\$name\"\\n\"\$seq}\'"
                    //"\'{split(\$comment,col,\"|\"); print \">\"vartag\"_segment_\"col[2] \" ref_accession=\"\$name q \$comment\" \\n\"\$seq}\'"
                    "\'{split(\$comment,col,\"|\"); print \">\"vartag\"_segment_\"col[2] \" \\n\"\$seq}\'"
                    
                ].join(' ').trim() }


        publishDir = [
            path: { "${params.outdir}/${meta.id}/consensus" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            //enabled: false
        ]

    }
    
    withName: BLAST_BLASTN {
        ext.prefix = {"${meta.id}.consensus"}
        ext.args = " -outfmt '6 std qlen slen qcovs' -perc_identity ${params.min_perc_identity} -qcov_hsp_perc ${params.min_qcov_hsp_perc} "
        publishDir = [
            path: { "${params.outdir}/${meta.id}/typing/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           
        ]

    }
    withName: BLAST_MAKEBLASTDB {
        ext.args = '-dbtype nucl'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/typing/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]

    }
    withName: BCFTOOLS_NORM_VARIANTS{
        ext.prefix = {"${meta.id}_variants_norm"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/vcf" },
            mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]

    }
    withName: BCFTOOLS_NORM_CONSENSUS{
        ext.prefix = {"${meta.id}_consensus_norm"}

        publishDir = [
            path: { "${params.outdir}/${meta.id}/vcf" },
            mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]
        

    }
    withName: BCFTOOLS_CONSENSUS_AMBIGUOUS{
        ext.prefix = {"${meta.id}.consensus_ambiguous"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/consensus" },
            mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]

    }
     withName: BCFTOOLS_CONSENSUS_FIXED{
        ext.prefix = {"${meta.id}.consensus_fixed"}

        publishDir = [
            path: { "${params.outdir}/${meta.id}/consensus" },
            mode: params.publish_dir_mode,
            enabled: false,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

    }

    withName: SPLITVCF_CONSENSUS_AMBIGUOUS {
        ext.args = " -v vartag=ConsensusTag=ambiguous "
        ext.prefix = {"${meta.id}_consensus_norm_ambiguous"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/consensus" },
            mode: params.publish_dir_mode,

           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]
      
    }
    withName: SPLITVCF_CONSENSUS_FIXED{
        ext.args = " -v vartag=ConsensusTag=fixed "
        ext.prefix = {"${meta.id}_consensus_norm_fixed"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/consensus" },
            mode: params.publish_dir_mode,

           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]

    }
    withName: TABIX_BGZIPTABIX_CONSENSUS_FIXED {
        ext.args = " -f "
        ext.args2 = " -f -p vcf "
        ext.prefix = {"${meta.id}_consensus_norm_fixed"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/consensus" },
            mode: params.publish_dir_mode,

           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]

    }
     withName: TABIX_BGZIPTABIX_CONSENSUS_AMBIGUOUS {
        ext.args = " -f "
        ext.args2 = " -f -p vcf "
        ext.prefix = {"${meta.id}_consensus_norm_ambiguous"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/consensus" },
            mode: params.publish_dir_mode,

           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]

    }
    withName: TABIX_BGZIPTABIX_VARIANTS {
        ext.prefix = {"${meta.id}.variant"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/consensus" },
            mode: params.publish_dir_mode,

           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]



    }
    withName: TABIX_BGZIPTABIX_CONSENSUS {
        ext.prefix = {"${meta.id}.consensus"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/consensus" },
            mode: params.publish_dir_mode,

           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]
      
    }


   

    withName: NEXTCLADE_RUN {
        ext.prefix = {"${meta.id}.nextclade"}
         publishDir = [
            path: { "${params.outdir}/${meta.id}/nextclade" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    withName: SEGMENT2TYPEDATA {
         publishDir = [
            path: { "${params.outdir}/${meta.id}/nextclade" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: false
        ]
    }
    withName: REPORT {
        
         publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
