/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process{

    /*
    ----------------------------------------------------------------------------------------
    QC
    ----------------------------------------------------------------------------------------
    */  
    withName: FASTP {
        ext.args = [
            "--cut_front",
            "--cut_front_window_size=1",
            "--cut_front_mean_quality=10",
            "--cut_tail",
            "--cut_tail_window_size=1",
            "--cut_tail_mean_quality=10",
            "--n_base_limit 0",
            "--qualified_quality_phred 20",
            "--average_qual 20",
            "--length_required 50",
            "--detect_adapter_for_pe"
        ].join(' ').trim()
        
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/qc/fastp" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: BBMAP_BBDUK {
        ext.args = [
            "ref=adapters,artifacts,phix",
            "ktrim=r",
            "k=23",
            "mink=11",
            "hdist=1",
            "tpe",
            "tbo",
            "maq=15",
            "trimq=10",
            "qtrim=r",
            "minlength=31",
            "ref=${params.flu_primers}"
        ].join(' ').trim()
        
        ext.prefix = { "${meta.id}.bbduk_trim" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/qc/bbmap" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        
    }

    withName: TRIMMED_STATS {
        ext.prefix = { "${meta.id}.${params.illumina_reads_qc_tool}_seqstats" }
        ext.args = '-Ta '
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/qc/${params.illumina_reads_qc_tool}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CONCAT_TRIMMED_STATS {
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            
        ]
    }

    //dehost
    withName: HOSTILE{
        ext.args = '--force '
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/dehost" },
            mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        enabled: true
        ]
    }

    /*
    ----------------------------------------------------------------------------------------
    mapping
    ----------------------------------------------------------------------------------------
    */
    withName: BWAMEM2_INDEX {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/mapping" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: false
        ]
    }
    withName: BWAMEM2_MEM {
        //Mark shorter split hits as secondary (for Picard compatibility).
        ext.args = "-M "
        publishDir = [
        path: { "${params.outdir}/${meta.id}/mapping" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: false
        ]
    }

    withName: MINIMAP2_ALIGN {
        ext.args = " -x sr "
        publishDir = [
            path: { "${params.outdir}/${meta.id}/mapping" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: false
        ]
    }

    withName: SAMTOOLS_FIXMATE {
        ext.prefix = { "${meta.id}-${params.mapping_tool}.fixmate" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/mapping" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: false
        ]

    }


    /*
    ----------------------------------------------------------------------------------------
    variants
    ----------------------------------------------------------------------------------------
    */


    
    /*
    variant callers like GATK or freebayes  ignore soft/hard clipped alignments, 
    unless looking for structural variants.
    from  a forumI use -p 2 for a good reason. 
    If you use -p 1 then mismapping reads will cause false +ve SNP calls. 
    If you assume haploid, and you get REF=70xA and ALT=30xT then 
    freebayes is going to call ALT, as it certainly isn't REF under a haploid model, 
    but we've given it no chance to say it's mixed. 
    Diploid gives this chance. Some SNP callers for bacteria (eg. nesoni) 
    used even higher ploidy to help here.I learnt this lesson the hard way in Snippy 3.x
    I tested 1 and 2 but the results are similar
    */
    withName: FREEBAYES {
        ext.args = [
            "--ploidy 1", 
            "--haplotype-length -1", 
            "--min-mapping-quality 30", 
            "--min-base-quality 30", 
            "--min-coverage ${params.mindepth}", 
            "--min-alternate-fraction 0.2",
            "--min-alternate-count 2",
            "--pooled-continuous" // Output all alleles which pass input filters, regardles of genotyping outcome or model.
            //"--gvcf"
            //"--gvcf-dont-use-chunk true"
            
        ].join(' ').trim()
        ext.prefix =  {"${meta.id}.freebayes"}

        publishDir = [
            path: { "${params.outdir}/${meta.id}/variants" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: false
        ]
    }

    withName: BCFTOOLS_SORT{
        ext.args = " --output-type z "
        ext.prefix = { "${meta.id}-${params.mapping_tool}_${params.variant_caller}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/variants" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            //enabled: false
        ]
    }

    withName: 'BCFTOOLS_MPILEUP' {
        
        // ext.args = [
        //     "--min-BQ 10", //Minimum base quality for a base to be considered
        //     "--ignore-overlaps",
        //     "--count-orphans", // anomalous read pairs" or "orphans". Those are paired reads where the mate is not paired. 
        //     "--no-BAQ",
        //     "-M 10000",
        //     "-h 100",
        //     "--max-depth 1000000", //this value affect DP 
        //     "--max-idepth 100000",
        //     "--annotate FORMAT/AD,FORMAT/ADF,FORMAT/ADR,FORMAT/DP,INFO/AD,INFO/ADF,INFO/ADR"
        // ].join(" ").trim()
            ext.args = [
            "-d 500", //At a position, read maximally INT reads per input file. 
            "--min-BQ 30", //Minimum base quality for a base to be considered
            "--min-MQ 30", //Minimum mapping quality for an alignment to be used
            "--adjust-MQ 50",
            "--count-orphans", // anomalous read pairs" or "orphans". Those are paired reads where the mate is not paired. 
            "--annotate FORMAT/AD,FORMAT/ADF,FORMAT/ADR,FORMAT/DP,INFO/AD,INFO/ADF,INFO/ADR"
        ].join(" ").trim()


        //By setting ploidy to 1, the call algorithm is told to look for a single allele. The default ploidy 2 is able to detect maximum two alleles.
        ext.args2 = [
            "--ploidy 2",
            "--keep-alts", //output all alternate alleles present in the alignments even if they do not appear in any of the genotypes
            "--keep-masked-ref", //output sites where REF allele is N
            "--multiallelic-caller",
            //"--keep-unseen-allele" // useful mainly for gVCF output
            "--variants-only"
        ].join(' ').trim()
        
        ext.prefix = { "${meta.id}-${params.mapping_tool}_${params.variant_caller}" }

        publishDir = [
            path: { "${params.outdir}/${meta.id}/variants" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,vcf.gz.tbi,bcftools_stats.txt}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            //enabled: false
        ]
    }
}


