process {

     withName: HOSTILE{
        ext.args = '--force '
        ext.prefix = {"${meta.id}.clean_dehost"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/nanopore_reads/qc/dehost" },
            mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]
    }

    withName: SEQKIT_STATS_INPUT {
        ext.prefix = { "${meta.id}.seqstats" }
        ext.args = '-Ta '
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/nanopore_reads/input/stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    withName: CSVTK_CONCAT_STATS_INPUT{
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    
    withName: NANOPLOT_INPUT {
        ext.args = "-c darkblue --tsv_stats --info_in_report --plots hex dot"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/nanopore_reads/input/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: NANOPLOT_QC {
        ext.args = "-c darkblue --tsv_stats --info_in_report --plots hex dot"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/nanopore_reads/qc/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: PORECHOP_PORECHOP {   
        ext.prefix = { "${meta.id}.porechop" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/nanopore_reads/qc/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: SEQKIT_STATS_PORECHOP {
        ext.prefix = { "${meta.id}.porechop_seqstats" }
        ext.args = '-Ta '
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/nanopore_reads/qc/stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CSVTK_CONCAT_STATS_PORECHOP{
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }, 
        ]
    }
    withName: CHOPPER {   
        ext.args2 = "-q 10 --minlength 1000"
        ext.prefix = { "${meta.id}.chopper" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/nanopore_reads/qc/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: SEQKIT_STATS_CHOPPER {
        ext.prefix = { "${meta.id}.chopper_seqstats" }
        ext.args = '-Ta '
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/nanopore_reads/qc/stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CSVTK_CONCAT_STATS_CHOPPER{
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },  
        ]
    }

    withName: SEQKIT_STATS_HOSTIE {
        ext.prefix = { "${meta.id}.dehost_seqstats" }
        ext.args = '-Ta '
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/nanopore_reads/qc/stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CSVTK_CONCAT_STATS_HOSTIE{
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },  
        ]
    }


    withName: 'BEDTOOLS_GENOMECOV' {
        ext.args = "-bga  | awk \'\$4 < ${params.mindepth}\' "
        ext.prefix = { "${meta.id}.masked" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/variants/CLAIR3" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }

        withName: 'BEDTOOLS_MASKFASTA' {
        ext.prefix = { "${meta.id}.reference_masked" }
        ext.args = "-fullHeader"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/variants/CLAIR3" },
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }
    withName: CLAIR3 {
        ext.args = [
            "--platform=\"ont\"",
            "--haploid_sensitive",
            "--enable_long_indel",
            "--keep_iupac_bases",
            "--fast_mode",
            "--include_all_ctgs",
            "--min_coverage=${params.mindepth}"
            ].join(' ').trim()

        publishDir = [
            path: { "${params.outdir}/${meta.id}/variants/CLAIR3" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: '*.{vcf.gz*}'

           //enabled: false
        ]
    }
    
    withName: BCFTOOLS_NORM{
        ext.args = '--output-type v'
        ext.prefix = {"${meta.id}_norm"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/variants/CLAIR3" },
            mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]

    }
    withName: TABIX_BGZIPTABIX_NORM {
        ext.args = " -f "
        ext.args2 = " -f -p vcf "
        ext.prefix = {"${meta.id}_norm_gztbi"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/variants/CLAIR3" },
            mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]

    }

    withName: BCFTOOLS_CONSENSUS{
        //ext.prefix = {"${meta.id}"}
        ext.args = "--iupac-codes"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/variants/CLAIR3" },
            mode: params.publish_dir_mode,
            enabled: false,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

    }
    withName: SEQKIT_FX2TAB_CONSENSUS {
        ext.args = '--only-id --name --length -C ATCG -C RYSWKMBDHV -C N -H'
        ext.suffix = 'txt'
        ext.prefix = { "${meta.id}.consensus_stats" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/variants/CLAIR3" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
}

   
}