/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: HOSTILE_BOWTIE2{
        ext.args = '--force '
        ext.prefix = {"${meta.id}.clean_dehost"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/illumina_reads/qc/dehost" },
            mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           enabled: false
        ]
    }
    withName: SEQKIT_STATS_HOSTIE {
        ext.prefix = { "${meta.id}.dehost_seqstats" }
        ext.args = '-Ta '
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/illumina_reads/qc/stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: CSVTK_CONCAT_STATS_HOSTIE{
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },  
        ]
    }
}




if(!params.skip_illumina_reads_qc){

    process{

        withName: FASTQC_INPUT {
            ext.args = '--quiet'
            
            publishDir = [
                path: { "${params.outdir}/${meta.id}/reads/illumina_reads/raw/fastqc" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                pattern: "*"
            ]
        }
        withName: SEQKIT_STATS_INPUT {
            ext.prefix = { "${meta.id}.seqstats" }
            ext.args = '-Ta '
            publishDir = [
                path: { "${params.outdir}/${meta.id}/reads/illumina_reads/raw/stats" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
        withName: CSVTK_CONCAT_STATS_INPUT {
            publishDir = [
                path: { "${params.outdir}/report" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },    
            ]
        } 
        withName: CSVTK_CONCAT_STATS_QC {
            publishDir = [
                path: { "${params.outdir}/report" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                
            ]
        }
    }
}
    
   


if(params.illumina_reads_qc_tool == 'fastp'){

    process {
        withName: FASTP {
            ext.args = [
                "--cut_front",
                "--cut_front_window_size=1",
                "--cut_front_mean_quality=10",
                "--cut_tail",
                "--cut_tail_window_size=1",
                "--cut_tail_mean_quality=10",
                "--n_base_limit 0",
                "--qualified_quality_phred 20",
                "--average_qual 20",
                "--length_required 50",
                "--detect_adapter_for_pe",
                "--adapter_fasta ${params.flu_primers}"
            ].join(' ').trim()
            
            publishDir = [
                path: { "${params.outdir}/${meta.id}/reads/illumina_reads/qc/fastp" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
        withName: FASTQC_QC {
            ext.args = '--quiet'
            ext.prefix = { "${meta.id}.fastp_trim" }
            publishDir = [
                path: { "${params.outdir}/${meta.id}/reads/illumina_reads/qc/fastqc" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
        withName: SEQKIT_STATS_TRIMMED {
            ext.prefix = { "${meta.id}.fastp_seqstats" }
            ext.args = '-Ta '
            publishDir = [
                path: { "${params.outdir}/${meta.id}/reads/illumina_reads/qc/stats" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}
    
   


if(params.illumina_reads_qc_tool == 'bbduk'){
    process {
        withName: BBMAP_BBDUK {
            ext.args = [
                "ref=adapters,artifacts,phix",
                "ktrim=r",
                "k=23",
                "mink=11",
                "hdist=1",
                "tpe",
                "tbo",
                "maq=15",
                "trimq=10",
                "qtrim=r",
                "minlength=31",
                "ref=${params.flu_primers}"
            ].join(' ').trim()
            
            ext.prefix = { "${meta.id}.bbduk_trim" }
            publishDir = [
                path: { "${params.outdir}/${meta.id}/reads/illumina_reads/qc/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
            
        }
        withName: FASTQC_QC {
            ext.args = '--quiet'
            ext.prefix = { "${meta.id}.bbduk_trim" }
            publishDir = [
                path: { "${params.outdir}/${meta.id}/reads/illumina_reads/qc/fastqc" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }


        withName: SEQKIT_STATS_TRIMMED{
            ext.prefix = { "${meta.id}.bbduk_seqstats" }
            ext.args = '-Ta '
            publishDir = [
                path: { "${params.outdir}/${meta.id}/reads/illumina_reads/qc/stats" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}

if(params.illumina_reads_mapping_tool == 'bwa'){
    process {
        withName: BWAMEM2_INDEX {
            publishDir = [
                path: { "${params.outdir}/${meta.id}/mapping/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: false
            ]
        }
        withName: BWAMEM2_MEM {
            publishDir = [
                path: { "${params.outdir}/${meta.id}/mapping/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: false
            ]
            ext.args2 = " -h -F260 "
        }
    }
}

if(params.illumina_variant_caller == 'freebayes'){

    process{

        withName: INDEX_REFERENCE {
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/freebayes" },
                mode: params.publish_dir_mode,

            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            //enabled: false
            ]
        }
        
        withName: 'BEDTOOLS_GENOMECOV' {
            ext.args = "-bga  | awk \'\$4 < 3\' "
            ext.prefix = { "${meta.id}.masked" }
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/freebayes" },
                mode: params.publish_dir_mode,
                enabled: true
            ]
        }

         withName: 'BEDTOOLS_MASKFASTA' {
            ext.prefix = { "${meta.id}.reference_masked" }
            ext.args = "-fullHeader"
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/freebayes" },
                mode: params.publish_dir_mode,
                enabled: true
            ]
        }
        withName: FREEBAYES {
            ext.args = [
                "--ploidy 1", \
                "--min-alternate-fraction 0.2",\
                "--min-alternate-count 1",\
                "--pooled-continuous",
                "--min-coverage ${params.mindepth}",\
                "--gvcf",\
                "--gvcf-dont-use-chunk true"\
            ].join(' ').trim()

            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/freebayes" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: true
            ]
        }

        withName: BCFTOOLS_SORT{
            ext.args = " --output-type z "
            ext.prefix = {"${meta.id}.sort"}
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/freebayes" },
                mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
            ]
        }
        
        withName: TABIX_TABIX{
            ext.args = " -f -p vcf "
            //ext.prefix = {"${meta.id}"}
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/freebayes" },
                mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
            ]
        }

        withName: FREEBAYES_NORM{
            ext.args = '-m-any --check-ref w --output-type v'
            ext.prefix = {"${meta.id}.norm"}
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/freebayes" },
                mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
            ]
        }

        withName: BGZIPTABIX_NORM {
            ext.args = " -f "
            ext.args2 = " -f -p vcf "
            ext.prefix = {"${meta.id}_norm"}
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/freebayes" },
                mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
            ]
        }

    
        // bcftools filter -e 'FORMAT/AD[:1] / FORMAT/DP > 0.75 | FORMAT/AD[:1] / FORMAT/DP < 0.25  | FORMAT/DP < 10' results/S10/variants/bcftools/S10.orig.vcf.gz
        withName: 'BCFTOOLS_FILTER' {
            ext.args = "-e 'ALT=\"<*>\" | FORMAT/AD[:1] / FORMAT/DP > 0.75 | FORMAT/AD[:1] / FORMAT/DP < 0.25  | FORMAT/DP < 10' --output-type v"
            ext.prefix = { "${meta.id}.vcf_filter" }
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/freebayes" },
                mode: params.publish_dir_mode,
                enabled: true
            ]
        }

        //bcftools query -i 'FORMAT/DP < 20' -f'%CHROM\t%POS0\t%END\n' results/S12/variants/bcftools/S12_norm.vcf > variant.bed
        withName: 'BCFTOOLS_QUERY' {
            ext.args = "-i 'FORMAT/DP < 10' -f'%CHROM\t%POS0\t%END\n'"
            ext.prefix = { "${meta.id}.masked" }
            ext.suffix = "bed"
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/freebayes" },
                mode: params.publish_dir_mode,
                enabled: true
            ]
        }
        
        withName: BCFTOOLS_CONSENSUS{
            //ext.prefix = {"${meta.id}"}
            ext.args = "--iupac-codes"
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/freebayes" },
                mode: params.publish_dir_mode,
                enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
        withName: FORMAT_CONSENSUS {

            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/freebayes" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                //enabled: false
                pattern: '*.{consensus.fasta}'
            ]
        } 
        withName: SEQKIT_FX2TAB_CONSENSUS {
            ext.args = '--only-id --name --length -C ATCG -C RYSWKMBDHV -C N -H'
            ext.suffix = 'txt'
            ext.prefix = { "${meta.id}.consensus_stats" }
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/freebayes" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}
if(params.illumina_variant_caller == 'bcftools'){

    process{

        withName: 'BEDTOOLS_GENOMECOV' {
            ext.args = "-bga  | awk \'\$4 < 3\' "
            ext.prefix = { "${meta.id}.masked" }
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/bcftools" },
                mode: params.publish_dir_mode,
                enabled: true
            ]
        }

         withName: 'BEDTOOLS_MASKFASTA' {
            ext.prefix = { "${meta.id}.reference_masked" }
            ext.args = "-fullHeader"
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/bcftools" },
                mode: params.publish_dir_mode,
                enabled: true
            ]
        }


        withName: 'BCFTOOLS_MPILEUP' {
            ext.args = '--ignore-overlaps --count-orphans --no-BAQ --max-depth 8000 --min-BQ 20 --annotate FORMAT/AD,FORMAT/ADF,FORMAT/ADR,FORMAT/DP,INFO/AD,INFO/ADF,INFO/ADR'
            ext.args2 = '--ploidy 1 --keep-alts --keep-masked-ref --multiallelic-caller --variants-only'
            ext.args3 = "--include 'FORMAT/DP>=10'" 
            ext.prefix = { "${meta.id}.mpieup" }
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/bcftools" },
                mode: params.publish_dir_mode,
                //pattern: '*.mpileup',
                enabled: true
            ]
        }

        withName: MPILEUP_NORM{
            ext.args = '-m-any --check-ref w --output-type v'
            ext.prefix = {"${meta.id}_norm"}
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/bcftools" },
                mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
            ]
        }

        withName: BGZIPTABIX_NORM {
            ext.args = " -f "
            ext.args2 = " -f -p vcf "
            ext.prefix = {"${meta.id}_norm"}
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/bcftools" },

                mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
            ]
        }

        //bcftools query -i 'FORMAT/DP < 20' -f'%CHROM\t%POS0\t%END\n' results/S12/variants/bcftools/S12_norm.vcf > variant.bed
        withName: 'BCFTOOLS_QUERY' {
            ext.args = "-i 'FORMAT/DP < 10' -f'%CHROM\t%POS0\t%END\n'"
            ext.prefix = { "${meta.id}.masked" }
            ext.suffix = "bed"
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/bcftools" },
                mode: params.publish_dir_mode,
                enabled: true
            ]
        }
    
       
        // bcftools filter -e 'FORMAT/AD[:1] / FORMAT/DP > 0.75 | FORMAT/AD[:1] / FORMAT/DP < 0.25  | FORMAT/DP < 10' results/S10/variants/bcftools/S10.orig.vcf.gz
        withName: 'BCFTOOLS_FILTER' {
            
            ext.args = "-e 'ALT=\".\" | FORMAT/AD[:1] / FORMAT/DP > 0.75 | FORMAT/AD[:1] / FORMAT/DP < 0.25  | FORMAT/DP < 10' --output-type v"
            ext.prefix = { "${meta.id}.vcf_filter" }
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/bcftools" },
                mode: params.publish_dir_mode,
                enabled: true
            ]
        }
        withName: BGZIPTABIX_FILTER {
            ext.args = " -f "
            ext.args2 = " -f -p vcf "
            ext.prefix = {"${meta.id}_filter_gztbi"}
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/bcftools" },

                mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
            ]
        }
        
        withName: BCFTOOLS_CONSENSUS{
            ext.prefix = {"${meta.id}.bcftools_consensus"}
            ext.args = "--iupac-codes"
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/bcftools" },
                mode: params.publish_dir_mode,
                enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]

        }
        withName: FORMAT_CONSENSUS {
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/bcftools" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                //enabled: false
                pattern: '*.{consensus.fasta}'
            ]
        } 
        withName: SEQKIT_FX2TAB_CONSENSUS {
            ext.args = '--only-id --name --length -C ATCG -C RYSWKMBDHV -C N -H'
            ext.suffix = 'txt'
            ext.prefix = { "${meta.id}.consensus_stats" }
            publishDir = [
                path: { "${params.outdir}/${meta.id}/variants/bcftools" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }

    }
}
